<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>HomeCare</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="header" th:insert="fragmentshtml/fragments::topmenu(productsList)"></div>
    <div class="mainbody">
        <h1>Casa pusa la punct locuitori fericiti asteapta.</h1>
        <p>Ce-ai pe lista de amenajari interioare? Hai sa-ti bifam dorintele impreuna si intreaga familie se va bucura!
            Ai un robinet care picura? Gresia si faianta sunt cam demodate? Peretii nu mai au aspectul curat de la inceput? Priza din dormitor nu mai functioneaza? Cheama un specialist Ajusto si scapa de probleme, astfel incat sa le stii pe toate puse la punct. Familia ta va locui în siguranta, intr-o casa frumoasa, ingrijita si curata!
            Ne ocupam cu aproape orice fel de lucrare de amenajari interioare. Hai sa discutam despre proiectul tau si sa gasim impreuna cea mai bună solutie!
        </p>
                <p>Ce fac specialistii nostri?</p>
                <p>•	Zugraveli interioare (curatat/decopertat, aplicat glet grosier si glet finisaj, slefuire, aplicat amorsa, aplicat vopsea lavabila, emailuri sau vopsea pe baza de ulei sau rasina)</p>
                <p>•	Rigips (aplicat structura metalica pentru rigips, placat tavane si pereti cu rigips, arcade si modele din rigips, scafe si masti din rigips pentru tevi, pereti despartitori din rigips, reparatii pereti rigips)</p>
                <p>•	Faianta si gresie (montat si decopertat gresie, faianta si granit)</p>
                <p>•	Instalatii electrice (inlocuit tablouri electrice, montat corpuri de iluminat, trasee noi, inlocuire conductori, montat intrerupatoare si prize)</p>
                <p>•	Instalatii sanitare (schimbat tevi baie sau bucatarie, modificari trasee noi, inlocuirea tevilor, robinetilor si a bateriilor, montare obiecte sanitare: chiuveta, vas WC, cada)</p>
                <p>•	Montaj parchet (montat parchet melaminat, inlocuit parchet, reconditionare parchet masiv, lipit mocheta si linoleum) si multe altele.</p>
        <h1>Curatenie la un click distanta. Servicii de curatenie pentru casa ta</h1>
        <p>Curatenia — o stare de bine</p>
            <p>Ai o viata plina, iar adeseori, sarcinile din casa devin o corvoada. Noi credem ca meriti o pauza.
                Si pentru ca timpul tau liber e valoros — alege sa te relaxezi. Si nu oricum, ci in casa ta perfect curata, organizata si pusa la punct.</p>
            <p>Servicii profesionale de curatenie generala</p>
            <p>Stim ce iti doresti si avem solutia — un serviciu de curatenie profesional si calificat, cu o ridicata atentie la detalii si cu respect pentru casa ta.
            Misiunea noastra deriva din dorintele si nevoile tale, asa ca suntem aici sa iti oferim cele mai bune servicii, la standarde inalte, construite pe bugetul tau.
            Profesionalismul si respectul nostru nu se rezuma la suprafetele curate — ne concentram eforturile pe cel mai important element, adica tu.
            De aceea, iti asiguram un program de lucru flexibil, pentru ca tu sa nu iti sacrifici programul zilnic.
            Mai mult, noi nu ne oprim la curatenia propriu-zisa. Vrem sa fim siguri ca ai primit cel mai de calitate serviciu, asa ca iti oferim o echipa dedicata verificarii serviciilor de curatenie, acoperit de o garantie de 24 de ore.
                De ce sa apelezi la un serviciu de curatenie</p>
            <p>Pentru ca un spatiu cu adevarat curat, in care poti intreprinde activitatile tale preferate, necesita un efort real.
            Mai mult, presupune responsabilitatea alegerii celor mai eficiente produse si metode de curatenie, echipament profesional, indemanare si expertiza.
                Si sa nu uitam de cea mai importanta resursa — timpul.</p>
    </div>
</body>
</html>
